---
import { render } from "astro:content";
import Splide from "../components/splide.astro";
import type { CollectionEntry } from "astro:content";
import Button from "./_button.astro";

interface Props {
  asset: CollectionEntry<"assets">;
}

const { asset } = Astro.props;
const { Content } = await render(asset);
---

<article
  class="flex flex-col justify-between h-full b-(1 gray-400) rounded-xl bg-white"
>
  <div class="p-4 space-y-4">
    {
      asset.data.thumbnails?.length && (
        <Splide slug={asset.id} thumbnails={asset.data.thumbnails} />
      )
    }
    <div class="space-y-2 richtext">
      <Content />
    </div>
  </div>
  <div
    class="flex lt-xs:(flex-col items-stretch text-center) xs:flex-wrap gap-2 p-4 b-t-(1 neutral-400)"
  >
    {
      asset.data.dl ? (
        <>
          <form
            id={`${asset.id}-dl`}
            class="w-full min-w-max flex-1 grow-0"
            method="POST"
            action={`/dl/${asset.data.dl}`}
            data-astro-reload
          >
            <Button class="w-full">Download (Free)</Button>
          </form>
          <Button tag="a" href="/tip-me">
            Leave Me A Tip &lt;3
          </Button>
        </>
      ) : (
        <Button disabled>Coming Soon</Button>
      )
    }
  </div>
</article>
