---
import type { HTMLAttributes } from "astro/types";
import { clsx } from "clsx";

type Props = HTMLAttributes<"a">;
---

<a
  class={clsx(
    "py-2 px-4 inline-flex items-center gap-1 bg-blue-500 rounded text-white font-medium",
    Astro.props.class,
  )}
  {...Astro.props}
>
  <slot />
</a>
