---
import { Image } from "astro:assets";
import avatar from "../assets/avatar.webp";
import Root from "../layouts/root.astro";
import { getCollection } from "astro:content";
import Asset from "./_asset.astro";
import * as remeda from "remeda";

export const prerender = true;

const assets = await getCollection("assets").then(
  remeda.piped(
    remeda.filter(({ id }) => id !== "modular-novabeast"),
    remeda.sortBy(remeda.prop("id")),
  ),
);
---

<Root>
  <div
    class="flex flex-col items-center justify-center gap-4 p-4 sm:(gap-6 p-8)"
  >
    <Image
      class="rounded-3xl lt-sm:hidden"
      src={avatar}
      alt="Maserooni's VRChat Avatar"
      width="256"
      height="256"
      densities={[1, 1.5, 2]}
      loading="eager"
    />
    <Image
      class="rounded-3xl sm:hidden"
      src={avatar}
      alt="Maserooni's VRChat Avatar"
      width="128"
      height="128"
      densities={[1, 1.5, 2]}
      loading="eager"
    />
    <h1 class="text-(4xl center) font-bold">
      Maserooni's
      <span class="inline-block">VRChat Assets</span>
    </h1>
    <ul class="grid gap-8 grid-auto-rows-[1fr]">
      {
        assets.map((asset) => (
          <li class="max-w-xl">
            <Asset {asset} />
          </li>
        ))
      }
    </ul>
  </div>
</Root>
