---
import { Image } from "astro:assets";
import avatar from "../assets/avatar.webp";
import thumbnail1 from "../assets/fpvs_thumbnail1.png";
import thumbnail2 from "../assets/fpvs_thumbnail2.png";
import thumbnail3 from "../assets/fpvs_thumbnail3.png";
import Root from "../layouts/root.astro";
import Button from "./_button.astro";
import Splide from "../components/splide.astro";
import { getEntry } from "astro:content";
import { render } from "astro:content";

export const prerender = true;

const thumbnails = [
  { src: thumbnail1, alt: "Global Collider For Nuzzles" },
  { src: thumbnail2, alt: "First Person Snoot (4 Tris)" },
  { src: thumbnail3, alt: "Drag + Drop Install" },
];

const page = await getEntry("assets", "fpvs")!;
const { Content } = await render(page);
---

<Root>
  <div
    class="flex flex-col items-center justify-center gap-4 p-4 sm:(gap-6 p-8)"
  >
    <Image
      class="rounded-3xl lt-sm:hidden"
      src={avatar}
      alt="Maserooni's VRChat Avatar"
      width="256"
      height="256"
      densities={[1, 1.5, 2]}
      loading="eager"
    />
    <Image
      class="rounded-3xl sm:hidden"
      src={avatar}
      alt="Maserooni's VRChat Avatar"
      width="128"
      height="128"
      densities={[1, 1.5, 2]}
      loading="eager"
    />
    <h1 class="text-(4xl center) font-bold">
      Maserooni's
      <span class="inline-block">VRChat Assets</span>
    </h1>
    <ul class="max-w-xl">
      <li>
        <article class="b-(1 gray-400) p-4 rounded-xl space-y-4 bg-white">
          <Splide slug="fpvs" {thumbnails} />
          <div class="space-y-2 richtext">
            <Content />
          </div>
          <div class="flex flex-wrap gap-2">
            <form class="inline" method="POST" action="/dl/fpvs.unitypackage">
              <Button>Download (Free)</Button>
            </form>
            <Button tag="a" href="/tip-me">Leave Me A Tip &lt;3</Button>
          </div>
        </article>
      </li>
    </ul>
  </div>
</Root>
