---
import { getCollection } from "astro:content";
import AssetThumbnail from "../components/asset-thumbnail.astro";
import * as remeda from "remeda";
import Header from "$layouts/header.astro";

export const prerender = true;

const assets = await getCollection("assets").then(
  remeda.sortBy(remeda.prop("id")),
);
---

<Header>
  <ul class="grid gap-4 lg:(grid-cols-2 gap-8) grid-auto-rows-[1fr]">
    {
      assets.map((asset) => (
        <li>
          <a href={`/profile/mass/asset/${asset.id}`}>
            <AssetThumbnail {asset} />
          </a>
        </li>
      ))
    }
  </ul>
</Header>
