---
import Root from "../layouts/root.astro";
import Button from "./_button.astro";
---

<Root>
  <div class="w-full max-w-md mx-auto p-4 space-y-4">
    <Button tag="a" href="/">Go Back</Button>
    <div
      id="checkout"
      class="p-4 bg-white rounded-3xl overflow-hidden min-h-2xl"
    >
    </div>
  </div>

  <script>
    import { loadStripe } from "@stripe/stripe-js";
    import { PUBLIC_STRIPE_KEY } from "astro:env/client";
    import { actions } from "astro:actions";

    void main();

    async function main() {
      const stripe = await loadStripe(PUBLIC_STRIPE_KEY);
      const checkout = await stripe?.initEmbeddedCheckout({
        async fetchClientSecret() {
          const result = await actions.createCheckoutSession();
          if (result.error) throw result.error;
          return result.data.clientSecret;
        },
      });
      document.querySelector("#spinner")?.remove();
      checkout?.mount("#checkout");
    }
  </script>
</Root>
