---
import { render } from "astro:content";
import Root from "../layouts/root.astro";
import Button from "../components/button.astro";
import { getEntry } from "astro:content";

export const prerender = true;

const page = await getEntry("pages", "tip-me")!;
const { Content } = await render(page);
---

<script>
  import { loadStripe, type StripeEmbeddedCheckout } from "@stripe/stripe-js";
  import { actions } from "astro:actions";
  import { PUBLIC_STRIPE_KEY } from "astro:env/client";

  declare global {
    // eslint-disable-next-line no-var
    var initStripe: (
      selector: string,
    ) => Promise<StripeEmbeddedCheckout | undefined>;
  }

  window.initStripe = async (selector: string) => {
    const target = document.querySelector(selector) as HTMLElement;
    if (!target) return;

    const stripe = await loadStripe(PUBLIC_STRIPE_KEY);
    const checkout = await stripe?.initEmbeddedCheckout({ fetchClientSecret });
    if (!checkout) return;

    document.querySelector("#spinner")?.remove();
    checkout.mount(target);
    return checkout;
  };

  let clientSecret: string | undefined;
  async function fetchClientSecret() {
    if (clientSecret) return clientSecret;
    const result = await actions.createCheckoutSession();
    if (result.error) throw result.error;
    clientSecret = result.data.clientSecret;
    return clientSecret;
  }
</script>

<script is:inline data-astro-rerun>
  document.addEventListener("astro:page-load", main);
  async function main() {
    const checkout = await window.initStripe("#checkout");
    const cleanup = () => {
      checkout?.destroy();
      document.removeEventListener("astro:page-load", main);
      document.removeEventListener("astro:after-swap", cleanup);
    };
    document.addEventListener("astro:after-swap", cleanup);
  }
</script>

<Root>
  <div
    class="flex justify-center items-start lt-md:(flex-col justify-stretch items-center) gap-4 p-4 children:max-w-md"
  >
    <div class="grow-1 w-full space-y-4">
      <Button class="inline-block" tag="a" href="/">Go Back</Button>
      <div
        id="checkout"
        class="p-4 bg-white rounded-3xl overflow-hidden min-h-2xl"
      >
      </div>
    </div>
    <div
      class="flex-1 px-8 py-4 md:mt-14 bg-white rounded-3xl space-y-2 richtext"
    >
      <Content />
    </div>
  </div>
</Root>
