---
import "@splidejs/splide/css";
import type { HTMLAttributes } from "astro/types";

import { Image } from "astro:assets";

interface Props extends Omit<HTMLAttributes<"section">, "id"> {
  slug: string;
  thumbnails: { src: ImageMetadata; alt?: string }[];
}

const { slug, thumbnails, ...rest } = Astro.props;
---

<script>
  import * as splide from "@splidejs/splide";
  window.SplideGlobal = splide.Splide;
  declare global {
    // eslint-disable-next-line no-var
    var SplideGlobal: typeof splide.Splide;
  }
</script>

<script define:vars={{ slug }} data-astro-rerun>
  document.addEventListener("astro:page-load", main);
  function main() {
    const splide = new SplideGlobal(`#${slug}-splide`, {
      type: "loop",
      perPage: 1,
      autoWidth: true,
      focus: "center",
    }).mount();

    splide.on("move", (target) => {
      const slides = splide.Components.Slides.get();
      for (const { index, slide } of slides) {
        if (index === target) {
          slide.style.opacity = "1";
        } else {
          slide.style.opacity = ".2";
        }
      }
    });

    document.addEventListener("astro:after-swap", cleanup);
    function cleanup() {
      splide.destroy();
      document.removeEventListener("astro:page-load", main);
      document.removeEventListener("astro:after-swap", cleanup);
    }
  }
</script>

<section {...rest} id={`${slug}-splide`} class="splide bg-black">
  <div class="splide__track">
    <ul class="splide__list">
      {
        thumbnails.map(({ src, alt }) => (
          <li class="splide__slide">
            <Image
              {src}
              alt={alt ?? ""}
              width="420"
              height="420"
              densities={[1, 1.5, 2]}
            />
          </li>
        ))
      }
    </ul>
  </div>
</section>

<style>
  .splide__slide {
    --at-apply: opacity-20 transition-opacity max-w-full;
  }
  .splide__slide.is-active.is-visible {
    --at-apply: opacity-100;
  }
</style>
