---
import { Image } from "astro:assets";
import avatar from "../assets/avatar.webp";
import Root from "../layouts/root.astro";
import clsx from "clsx";

interface Props {
  mini?: boolean;
}

const { mini } = Astro.props;
const Tag = mini ? "div" : "h1";
---

<Root>
  <div
    class="flex flex-col items-center justify-center gap-4 p-4 sm:(gap-6 p-8)"
  >
    <a class="flex flex-col gap-4 items-center" href="/">
      {
        !mini && (
          <Image
            class="rounded-3xl lt-sm:hidden"
            src={avatar}
            alt=""
            width="256"
            height="256"
            densities={[1, 1.5, 2]}
            loading="eager"
          />
        )
      }
      <Image
        class={clsx("rounded-3xl", !mini && "sm:hidden")}
        src={avatar}
        alt=""
        width="128"
        height="128"
        densities={[1, 1.5, 2]}
        loading="eager"
      />
      <Tag class="text-(4xl center) font-bold">
        Maserooni's
        <span class="inline-block">VRChat Assets</span>
      </Tag>
    </a>
    <slot />
  </div>
</Root>
