---
import { Image } from "astro:assets";
import avatar from "../assets/avatar.webp";
import Root from "../layouts/root.astro";
import SeoFallback from "$components/seo-fallback.astro";
---

<Root>
  <slot name="seo" slot="seo">
    <SeoFallback />
  </slot>
  <div
    class="flex flex-col items-center justify-center gap-4 p-4 sm:(gap-6 p-8)"
  >
    <a
      class="flex gap-4 items-center font-bold hover:text-blue-700 transition-color"
      href="/"
    >
      <Image
        class="rounded-3xl xs:hidden"
        src={avatar}
        alt=""
        width="72"
        height="72"
        densities={[1, 1.5, 2]}
        loading="eager"
      />
      <Image
        class="rounded-3xl lt-xs:hidden"
        src={avatar}
        alt=""
        width="96"
        height="96"
        densities={[1, 1.5, 2]}
        loading="eager"
      />
      <div class="text-3xl xs:text-4xl">
        <div>Maserooni's</div>
        <div>VRChat Assets</div>
      </div>
    </a>
    <slot />
  </div>
</Root>
