---
import { ClientRouter } from "astro:transitions";
import SeoFallback from "$components/seo-fallback.astro";
import Analytics from "@vercel/analytics/astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <ClientRouter />
    <slot name="seo">
      <SeoFallback />
    </slot>
    <Analytics />
    <slot name="head" />
  </head>
  <body class="bg-gray-200">
    <slot />
  </body>
</html>
